<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!--セッションが 15分間操作されなければ無効化-->
    <session-config>
        <session-timeout>15</session-timeout> <!-- 単位は分 -->
    </session-config>

    <session-config>
        <cookie-config>
            <http-only>true</http-only><!--JavaScript からのアクセス禁止-->
            <secure>false</secure><!--HTTPS 通信時のみ送信/開発環境ではoff-->
        </cookie-config>
    </session-config>


</web-app>
